# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Django specific
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.env.*

# Virtual environments
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# pip-tools
*.txt.lock

# Coverage reports
htmlcov/
.coverage
coverage.xml
.cache

# Test reports
junit.xml
nosetests.xml
test_*.xml

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/

# Celery
celerybeat-schedule
celerybeat.pid

# Build
build/
dist/
*.egg-info/

# Docker
*.pid

# Gunicorn
gunicorn.pid

# Node (if using for frontend/static)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
